.color {
    background-color: darkred;
    padding-top: 0%;
}
.mi-texto {
    display: flex;
    justify-content: center;
    padding: 6%;
    color: white;
    background-color: black;
}

$white: #fff;
$black: #000;

$colors: (
    "white": $white,
    "black": $black,
);

@mixin tamanio-imagen ($width, $height: $width)
{
    height: $height;
    width: $width;
}
    
