.color {
    background-color: darkred;
    padding-top: 0%;
}
.mi-texto {
    display: flex;
    justify-content: center;
    padding: 6%;
    color: white;
    background-color: black;
}
.mi-texto2 {
    display: flex;
    justify-content: center;
    padding: 6%;
    color: white;
    background-color: black;
}