* {
    margin: 0;
    padding: 0;
}

head, body {
   font-family:'Barlow Condensed', sans-serif;
}

/*titulo de la pag*/
.titulo {
    padding: 20px 0px;
    color: white;
    display: flex;
    justify-content: center; /* ubicacion del texto */
}
.mi-texto {
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
}

.mi-textodos {
    color: white;
}

.imagen-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* logo izquierdo*/ 
.imglogo {
     width: 88%; 
 }

.ubicacion {
    margin: 30px 20px 20px 500px
    
}

.ubicacion2 {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:400px) {
    body {
        background-color: brown;
    }
}

.div {
    display: flex;
    text-align: center;
}

.color {
    background-color: black;
    padding-top: 0%;
}

.ubicacion3 {
    display: flex;
    justify-content: center;
    color: white;
    list-style-type: none;
}

.redesfooter {
    width: 3%;
    display: inline;    
}

.container {
    transition: all 2s;
}

.size {
    display: flex;
    justify-content: center;
    width: auto;
    height: 28em;
    background-color: darkred;
}

.fondo {
    background-color: black;
}

.tamanio-imagen {
    width: 79em;
    height: 35em;
}

.sizedos {
    display: flex;
    justify-content: center;
    width: auto;
    height: 28em;
    background-color: black;
}

.contenedor-redes {
    background-color: #DF6767;
}

.colordos {
    background-color: rosybrown;
}

.colortres {
    background-color: #A03A3A;
}

.colorboton {
    background-color: white !important;
    border-color: red !important;   
}

.textoboton {
    color: black !important;
    text-decoration: none;
}

.contenedorboton {
    display: flex;
    justify-content: center !important;
}

.colornav {
    background-color: black !important;
}

.colorlist {
color: white !important;
}

.colorboton-dos{
    background-color: white !important;
    border-color: white !important;   
}