$black: #000;
@mixin tamanio-imagen ($width, $height: $width)
{
    height: $height;
    width: $width;
}
/* Barra de navegacion */
#menunav {
    color: white;
    background-color: black; /* Color de la barra*/
    z-index: 100; /* El menu queda por encima de la pag */
    width: 100%; /* Ancho total de la pag */
    font-family: Arial, Helvetica, sans-serif;
 }

/* logo izquierdo*/ 
.imglogo {
     width: 9%; 
 }

/* Botones texto de navegacion*/
 #menunav ul{
   list-style-type: none; /* Saca circulos a la lista */
   text-align: center; /* Alineamos el texto al circulo */
 }
#menunav li {
   display: inline; /* objetos de la lista uno al lado del otro*/
   text-align: center; /* Texto centrado */
   margin: 1%; 
   vertical-align: middle; /* Alinea verticalmente los LI*/
} 
/* Iconos Superiores*/
.icono_superior {
    width: 4%;
    display: inline;
}
.fondo-body {
  background-color: $black;
}

.tamanio-imagen {
  @include tamanio-imagen(100px);
}

.redesfooter {
  width: 3%;
  display: inline;    
}

.color {
  background-color: darkred;
  padding-top: 0%;
}

.ubicacion3 {
  display: flex;
  justify-content: center;
  color: white;
  list-style-type: none;
}